# 1 Data analysis

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv('traindata.csv')

In [12]:
df.head()

,date,item_id,store_code,cate_id,cate_level_id,brand_id,supplier_id,pv_ipv,pv_uv,cart_ipv,...,ss_pv_ipv,jhs_pv_ipv,ztc_pv_uv,tbk_pv_uv,ss_pv_uv,jhs_pv_uv,num_alipay_njhs,amt_alipay_njhs,qty_alipay_njhs,unum_alipay_njhs
0,2015-01-26,127,all,21,11,422,2023,1182,458,4,...,19,166,0,6,14,84,0,0.00,0,0
1,2015-02-03,127,all,21,11,422,2023,1093,478,30,...,111,0,0,12,65,0,14,16236.55,15,14
2,2015-08-02,127,all,21,11,422,2023,846,423,14,...,56,0,0,4,39,0,3,2885.40,3,3
3,2015-02-25,127,all,21,11,422,2023,346,180,8,...,61,0,0,8,48,0,1,910.11,1,1
4,2015-09-20,127,all,21,11,422,2023,878,398,28,...,27,0,51,5,19,0,7,8703.69,7,6

In [ ]:
Feature we need directly: 
    date, item_id, store_code, qty_alipay_njhs

Something we should concern about:
    qty_alipy_njhs（非聚划算支付人次） can be related to (unum_alipy_njhs(非聚划算支付人数)、 amt_alipy_njhs(非聚划算
    支付金额)、 num_alipay_njhs(非聚划算支付金额))
    different categories may suit for different inventory strategies

some ideas:
    Newsvendor Problem

全国仓和各分仓商品类别数

In [22]:
# df['store_code'].unique()
# print array(['all', '5', '1', '3', '4', '2', 3, 2, 1], dtype=object)
df['store_code'] = df['store_code'].astype('str')
df['store_code'].value_counts()

all    212574
4      184901
5      182670
3      180245
1      169977
2      167860
Name: store_code, dtype: int64